<sly data-sly-include="/libs/wcm/core/components/init/init.jsp"/>

<sly data-sly-test="${properties.htmlImporterBanner1}">
${properties.htmlImporterBanner1 @ context = 'unsafe'}
<sly data-sly-resource="${'text1' @ resourceType='wcm/foundation/components/parsys'}"/>
</sly>

<sly data-sly-test="${properties.htmlImporterBanner2}">
${properties.htmlImporterBanner2 @ context = 'unsafe'}

<sly data-sly-resource="${'text2' @ resourceType='wcm/foundation/components/parsys'}"/>
</sly>
<sly data-sly-test="${properties.htmlImporterBanner3}">
${properties.htmlImporterBanner3 @ context = 'unsafe'}
</sly>