<h1 class="banner-text text-uppercase">
                            <strong>
                                <span class="blue-color">${properties.textOne}</span><span class="green-color ml-2">${properties.textTwo}</span>
                                <br>
                                <span class="blue-color">${properties.textThree}</span>
                                <br>
                                <span class="green-color">${properties.textFour}</span>
                                <br>
                                <span class="blue-color">${properties.textFive}</span><span class="green-color">${properties.textSix}</span>
                            </strong>
</h1>
