body {
    /* background: url('../images/hero_background_desktop.svg') no-repeat right top; */
}

.top-bg {
    right: 0;
    z-index: -1;
}

.blue-bg {
    background: #002a54;
    border: 1px solid #002a54;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

.green-color {
    color: #007538;
}

.blue-color {
    color: #005092;
}

.footnote {
    left: 10px;
    top: 15px;
}

.banner .footnote {
    left: 5px;
    top: -5px;
}

.citi-logo-bg {
    background: #056dae;
}

.header {
    border-top: 10px solid #46b7e6;
}

.header-sticky {
    z-index: 1;
}

header {
    position: fixed;
    display: none;
    width: 100%;
    height: 60px;
    background: red;
}

.header .nav-item {
    font-size: 12px;
}

.header .pipe {
    font-size: 12px;
}

.right-card img {
    border-radius: 15px;
}

.right-card ul li a {
    text-decoration: underline;
}

.earn-cash {
    border-top: 10px solid #46b7e6;
    border-bottom: 10px solid #007538;
    background: linear-gradient(#37ae5e, #0081ff);
}

.cardmembers {
    background: #eef7fe;
}

.cash-back {
    background: url('/etc.clientlibs/citisite/clientlibs/clientlib-base/resources/images/resale_background.svg') no-repeat right -30px;
    border-bottom: 10px solid #46b7e6;
}

.border-1 {
    background-color: #25a6da;
    width: 350px;
    right: 0;
    position: absolute;
    bottom: 0;
    height: 12px;
}

.border-2 {
    background-color: #008fc9;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 50px;
}

.logo {
    background-color: #056dae;
    position: absolute;
    right: 0;
    bottom: 0;
}

.cash-back::after {
    background-color: #00254a;
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0;
}

.footer-top {
    background: #eee;
}

footer {
    background: #333;
    color: #d8d8d8;
}

footer a {
    color: #d8d8d8;
    text-decoration: underline;
}

footer a:hover {
    color: #d8d8d8;
}

.header::after {
    background-color: #00254a;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
}

.pipe::after {
    width: 1px;
    height: 20px;
    content: "";
    position: absolute;
    background: #6c757d;
    left: 0;
    top: 10px;
}

.footer ul li {}

.header-apply-now {
    height: 50px;
    line-height: 18px;
}

.root.container.responsivegrid {
    padding: inherit;
    margin: initial;
    max-width: inherit;
}

/* Responsive CSS */


/* Large devices (desktops, less than 1200px) */

@media (max-width: 1200px) {}

@media (max-width: 1199px) {
    .cash-back {
        background: url('/etc.clientlibs/citisite/clientlibs/clientlib-base/resources/images/cash_back_mobile_bg.svg') no-repeat right 40px / 35%;
    }
}


/* Medium devices (tablets, less than 992px) */

@media (max-width: 991px) {
    .banner-text {
        font-size: 32px;
    }
    .w-md-100 {
        width: 100% !important;
    }
}

@media (min-width: 768px) {}


/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767px) {
    body {
        background: initial;
    }
    .cash-back {
        background: url('/etc.clientlibs/citisite/clientlibs/clientlib-base/resources/images/cash_back_mobile_bg.svg') no-repeat center 50%/ 50%;
    }
    .apply-now-btn {
        width: auto !important;
    }
    .w-sm-100 {
        width: 100%;
    }
    .banner {
        background: url('/etc.clientlibs/citisite/clientlibs/clientlib-base/resources/images/banner-bg.svg') no-repeat right bottom;
    }
}

@media (max-width: 575px) {
    .cash-back {
        background: url('/etc.clientlibs/citisite/clientlibs/clientlib-base/resources/images/cash_back_mobile_bg.svg') no-repeat right 50%/ 85%;
    }
    .banner-text {
        font-size: 22px;
        font-weight: bolder;
        line-height: 30px;
    }
    .banner .right-card ul,
    .banner .right-card .w-50 {
        width: 100% !important;
    }
    .apply-now-btn {
        width: 75%;
    }
    .header-apply-now {
        height: auto;
        line-height: initial;
    }
    .earn-cash p {
        font-size: 16px;
    }
    .pipe::after {
        top: 7px;
    }
    .double-cash-card {
        width: 75%;
    }
}