<sly data-sly-test="${properties.desktopImage}">
<div class="desktop-image">
Image for Desktop
<img src="${properties.desktopImage}" width="300" height="200">
</div><br>
</sly>
<sly data-sly-test="${properties.mobileImage}">
<div class="mobile-image">
Image for Mobile
<img src="${properties.mobileImage}" width="300" height="200">
</div><br>
</sly>
<sly data-sly-test="${properties.mobileImage}">
<div class="tablet-image">
Image for Tablet
<img src="${properties.tabletImage}" width="300" height="200">
</div>
</sly>